html {
	scroll-behavior: smooth;
	transition: scroll 1s ease-in-out;
}

/* header */
header {
	max-height: max-content;
	background-color: var(--primary_color);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 0;
	position: sticky;
	top: 0;
	z-index: 99;
}

.branding-bar {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 32px;

	.logo {
		height: 84px;
		width: 84px;
	}

	.name {
		font-family: Island_Moments;
		font-size: 96px;
	}

}

.action-btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 8px;

	a {
		color: var(--font_color);
		text-decoration: none;
		font-size: 16px;
	}
}

nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 32px 12px 32px;
	gap: 32px;

	.left-placeholder {
		flex: 1;
	}

	.right-placeholder {
		flex: 1;
	}

	ul {
		flex: 1;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		li {
			list-style: none;

			a {
				font-size: 16px;
				text-decoration: none;
			}
		}

	}

	.nav-extra-btn {
		flex: 1;
		display: flex;
		flex-direction: row;
		justify-content: end;
		align-items: center;
		gap: 32px;

		div {
			flex-grow: 1/2;
			padding: 0 12px;

			a img {
				height: 38px;
				width: 38px;
			}
		}


	}

}

/* footer */
footer {
	min-height: 10vh;
	background-color: var(--primary_color);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 24px;
	gap: 12px;

	.logo-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 12px;

		.logo {
			height: 40px;
		}

		.name {
			font-family: Island_Moments;
			font-size: 40px;
		}
	}

	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 32px;
		border-bottom: 1px solid var(--font_color);
		padding-bottom: 32px 48px;

		li {
			list-style: none;

			a {
				font-size: 10px;
				text-decoration: none;
			}

			a:hover {
				color: white;
				transition: all .3s ease-out;
			}
		}
	}

	.socials {
		display: flex;
		flex-direction: row;
		gap: 20px;

		a img {
			height: 30px;
			width: 30px;
		}
	}

	p {
		font-size: 10px;
	}

}

.active {
	color: white;
	text-decoration: underline;
}

.search-container {
	flex: grow;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--font_color);
	border-radius: 24px;
	gap: 64px;
	flex-grow: 1;

	input[type="text"] {
		background-color: transparent;
		border: none;
		padding: 8px 12px;
	}

	input[type="text"]::placeholder {
		color: var(--font_color);
	}

	input[type="text"]:focus {
		outline: none;
		box-shadow: none;
		border: none;
	}
}

.nav-search-input {}

.nav-search-btn {
	cursor: pointer;
}