@font-face {
	font-family: Island_Moments;
	src: url(../font/Island_Moments/IslandMoments-Regular.ttf);
}

@font-face {
	font-family: Inter;
	src: url('../font/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
	font-style: normal;
	font-weight: 100 900;
}

@font-face {
	font-family: Inter;
	src: url('../font/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
	font-style: italic;
	font-weight: 100 900;
}

@font-face {
	font-family: Playfair_Display;
	src: url('../font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
	font-style: normal;
	font-weight: 100 900;
}

@font-face {
	font-family: Playfair_Display;
	src: url('../font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
	font-style: italic;
	font-weight: 100 900;
}

:root {
	--primary_color: #FCA5A5;
	--font_color: #000000;
	--bg_color: #FFFFFF;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Inter;
	color: var(--font_color);
}

button,
a,
.logo {
	cursor: pointer;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	min-height: 100dvh;
	min-width: 100%;
}

main {
	min-height: 100dvh;
	width: 100%;
	padding: 64px 0;
}

.shop {
	position: relative;
	min-height: 80dvh;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 64px;
	padding: 24px 0;


	h3 {
		font-size: 24px;
	}

}

h3 {
	font-size: 24px;
}

.selected-container {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 24px;
	border: 1px solid rgba(0, 0, 0, 0.089);
	border-radius: 14px;

}

.display {
	flex: 1;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	align-items: center;
	gap: 20px;
	padding: 12px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.247);
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 20px 10px;
}

th,
td {
	text-align: start;
	vertical-align: top;
	padding: 12px 4px;
}

th {
	background-color: #FCA5A5;
	color: white;
}

td {
	border-bottom: 1px solid #fca5a544;
}

.update {
	border: 1px solid rgba(0, 0, 0, 0.089);
	text-decoration: none;
	background-color: black;
	color: white;
	font-size: 900;
	padding: 4px 12px;
	border-radius: 4px;
	font-size: 12px;
}

.delete {
	border: 1px solid rgba(0, 0, 0, 0);
	text-decoration: none;
	background-color: red;
	color: rgb(255, 255, 255);
	font-size: 900;
	padding: 4px 12px;
	border-radius: 4px;
	font-size: 12px;
}

.delete:hover {
	transform: scale(1.05);
	transition: all .3s ease-out;
}

.update:hover {
	transform: scale(1.05);
	transition: all .3s ease-out;
}